<!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">        
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <%= link_to 'Inicio', root_path, class: 'navbar-brand' %>
              
          <% if user_signed_in? %>
            <%= link_to 'llamadas', calls_path, class: 'navbar-brand' %>
            <%= link_to 'Clientes', clients_path, class: 'navbar-brand' %>
            Hola <%= current_user.email %>

            
            <% end %>    
            
        </ul>
       
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->