<div id="<%= dom_id call %>">
  <p>
    <strong>User:</strong>
    <%= call.user_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= call.client_id %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= call.reason_id %>
  </p>

</div>
